<div class="reveal">
    <div class="slides">
        <section>Slide 1</section>
        <section>Slide 2</section>
        <section>Slide 3</section>
        <section data-markdown>
            <textarea data-template>
                ## Slide 4
                A paragraph with some text and a [Link](https://google.com)
                ---
                ## Slide 5
                ---
                # Slide 6
            </textarea>
        </section>

        <section data-background-color="blue">
            🔥
        </section>

        <section>
            <pre>
                <code data-line-numbers="7-9|12-14" class="csharp">
                    paste here your code
                </code>
            </pre>
        </section>
        <section>
            <h2>Thank You</h2>
            <br>
            <a routerLink="/">Back to home</a>
        </section>
    </div>
</div>
